.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a2b9e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(235, 191, 191);
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{

  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  bottom: 0;
  
  position:static;
  width: 100%;
  height :max-content;
  font-family: cursive;
  padding-top: 10;

}
.home{
  background-color: rgb(65, 23, 23);
  font-family: cursive;
}
.cardbody{
  background-color: gray;
  font-family: cursive;

}
.navbar{
  background-color:black;
  font-family: cursive;
  size: 100%;

}
.nav{
  background-color: skyblue;
  text-size-adjust: 100%;
}
.nav-link{
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-emphasis-color: aliceblue;
  size: 100%;
  color: aliceblue;
}
.signup{
  background-color:grey;
  font-family: cursive;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("https://i.pinimg.com/originals/c1/1c/20/c11c2024bceecd03286fd92ff8f4d2e2.jpg");
  color:chartreuse;

}
.about{
  /*background-image: url(https://www.desktopbackground.org/download/o/2014/03/26/737265_of-gym-quotes-funny-fitness-motivational-1920x1080-hd_1920x1080_h.jpg);*/
  font-family: cursive;

}

.login{
  background-color: rgb(138, 98, 98) ;
  font-family: cursive;
  background-image: url("https://i.pinimg.com/originals/4c/7a/b3/4c7ab3e9e7fa943d2ddbd625377aaae1.jpg");
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  color:blanchedalmond;
  font-size: large;

}

.admin{
  background-image: url(https://thearchitecturedesigns.com/wp-content/uploads/2019/09/gym5.jpg);
  background-color: #282c34;
  padding-top: 10%;
  color: aliceblue;
  padding-bottom: 10%;
}
.admin-text{
  padding-left: 40%;
}

.button{
  padding-left: 40%;
  padding-top: 10%;
}

.addtrainer{
 color:burlywood;
 padding-left: 10%;
 padding-right: 10%;
 padding-top: 10%;
 padding-bottom: 10%;
 font-size: large;
 background-image: url(https://i.pinimg.com/originals/6a/b3/ae/6ab3ae6508157f309a7b71cb6f78b8fe.jpg);
 
}

.addmembership{
  background-color: black;
  background-image: url(https://thearchitecturedesigns.com/wp-content/uploads/2019/09/gym29.jpg);
  padding-left: 10%;
  padding-right: 10%;
  font-size:x-large;
  background-position: center;
  color: cornsilk;
}
.addworkout{
  background-image: url(https://i.pinimg.com/originals/ed/3d/81/ed3d81637d7f86060d73015075e2b735.jpg);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: x-large;
  color: aliceblue;
  background-position: center;
}
.trainerpage{
  background-image: url(https://i.pinimg.com/originals/ed/3d/81/ed3d81637d7f86060d73015075e2b735.jpg);
  background-position: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: x-large;
  color: aliceblue;

}

.trainertable{
  color:#61dafb
}

.payment{
  background-position: center;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  font-size: x-large;
  color:cyan;
  background-image: url(https://st.hzcdn.com/simgs/pictures/home-gyms/bridge-hollow-platinum-homes-by-mark-molthan-img~f681ee14039105f3_14-9861-1-2779728.jpg);
}
.memedit{
  background-image: url(https://st.hzcdn.com/simgs/pictures/home-gyms/lakefront-modern-john-kraemer-and-sons-img~7421d59004088174_14-1217-1-e60ec74.jpg);
font-size: x-large;
padding: 10%10%10%10%;
color: aliceblue;


}
.member{
 /* background-image: url(https://st.hzcdn.com/simgs/pictures/home-gyms/lakefront-modern-john-kraemer-and-sons-img~7421d59004088174_14-1217-1-e60ec74.jpg);*/
  color: aliceblue;
  font-size:large;
  padding: 10%10%10%10%;
  /*background-image: url(https://i.pinimg.com/originals/52/39/81/523981906bef35f2ec84449cd89057b1.jpg);*/
background-position: center;
background-color: aqua;
}